body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: red;
    padding: 10px;
}

li {
    color: green;
}

a:hover{
    color: blue;
    text-decoration: none;
}

.styled-box {
    border: 2px solid black;
    background-color: lightgray;
    padding: 15px;
    text-align: center;
}

